    body {
            font-family: sans-serif;
            background: linear-gradient(to right, #137986, #66d0be);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
      