body {
    background: linear-gradient(to right, #51899b, #065587);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

  #myForm {
            background: rgb(26, 138, 156);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 300px;
            color: white;
        }
        input, button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        button {
            background-color: #0078D7;
            color: white;
            border: none;
        }
        #error {
            margin-top: 10px;
            font-weight: bold;
        }